<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Color Palette Generator</title>
</head>
<body>
    <header>
        <h1>Color Palette Generator</h1>
    </header>
    
    <main>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <section id="image-upload">
                <h2>Upload Image</h2>
                <input type="file" id="image-input" name="image-input" accept="image/*">
                <button type="submit">Generate Palette</button>
            </section>
        </form>
        {% if palette %}
        <section id="color-palette">
            <h2>Color Palette</h2>
            <ul>
                {% for color in palette %}
                    <li style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></li>
                    <div class="color-box"></div>
                    <span class="rgb-values">{{ color[0] }}, {{ color[1] }}, {{ color[2] }}</span>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
</body>
</html>
